//==============================
//
//=============================
$prolux: #0a4da7;
$blue: #1568bf;
$yellow: #facc13;
$gray: #373735;
$green: #089000;
$whatsapp: #25D366;

/* ================================================================== */
/*  Fonts  */
/* ================================================================== */
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-100.ttf");
	font-weight: 100;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-200.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-300.ttf");
	font-weight: 300;
    font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-400.ttf");
	font-weight: 400;
    font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-500.ttf");
	font-weight: 500;
    font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-600.ttf");
	font-weight: 600;
    font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-700.ttf");
	font-weight: 700;
    font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueLTCom-800.ttf");
	font-weight: 800;
    font-display: swap;
}

html, body {
    font-family: "Helvetica Neue";
    font-display: swap;
}
.fab {
    font-display: swap;
}

.modal {
    background: $prolux;
    color: white;

    .header {
        background-color: $yellow;
        color: $prolux;
    }

    .content {
        background: $prolux !important;
        padding: 35px 45px !important;

        form {
            width: 85%;
            margin: 0 auto;
            padding: 20px 30px;
            border: 1px solid white;

            .button {
                background-color: $yellow;
                color: $prolux;
                width: 100%;

                transition: all 200ms ease;

                &:hover {
                    background-color: $gray;
                    color: white;
                }
            }

            @media ( max-width: 720px ) {
                width: 95%;
                padding: 20px 15px;
            }
            @media ( max-width: 480px ) {
                width: 100%;
            }
        }
    }
}

header {

    display: flex;
    background: white;
    height: 105px;
    padding: 5px;

    div {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin: 0 auto;

        img {
			height: 100px;
            /*height: 100%;*/
        }
    }

    .phone {
        font-size: 1.25rem;

        a {
            color: black;
            font-weight: 600;
        }

        .fab {
            font-size: 2rem;
            vertical-align: sub;
            color: $whatsapp;
            margin: 0 10px;
            font-weight: normal;
        }
    }

    .start {

        a {
            background-color: $yellow;
            color: $prolux;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 10px 22.5px;
            transition: all 200ms ease;

            &:hover {
                background-color: $prolux;
                color: white;
            }
        }
    }

    @media ( max-width: 720px ) {
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        padding-top: 5px;

        div {
            width: 50%;
        }
        .logo {
            img {
                height: 80px;
                width: auto;
            }
        }
        .start {
            width: 100%;
            margin-top: 0px;
            a {
                width: 100%;
                text-align: center;
            }
        }
        .phone {
			width: 100%;
			background-color: $prolux;
            justify-content: center;
			padding: 7px;
			margin-top: 5px;

			a {
				color: white !important;
			}
        }
    }
}
//==============================
//
//=============================
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    &.left-side {
        padding-right: 0;
    }
}
img {
    max-width: 100%;
}
body {
    font-size: 15px;
    //overflow-x: hidden;
}
a {
    &.button {
        background-color: $yellow;
    }
}
//==============================
// HOME
//=============================
#home-slide {
    text-align: center;
    background-color: $prolux;
    min-height: calc( 100vh - 105px );
    position: relative;
    display: flex;

    &:after{
        content: '';
        background: $gray;
        width: 80%;
        height: 20px;
        position: absolute;
        bottom: 0;
        margin-left: 10%;
    }

    .left-side {
        background-size: cover;
        background-position: top;
        flex: 1;
        overflow: hidden;
        // position: relative;

        .column {
            min-height: calc( 100vh  );
            background-size: cover;
            background-position: right top;

			@media ( max-width: 720px ) {
				min-height: calc( 100vh - 176px);
			}
        }

        .owl-nav {
            display: none;
            position: absolute;
            top: 50%;
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 10px;
            transform: translateY(-50%);

            button {
                background: $prolux;
                color: white;
                font-size: 25px;
                line-height: initial;
                border: none;
                padding: 5px 12.5px !important;
                border-radius: 4px;
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 20px;
            background: $gray;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80%;
        }

        @media ( max-width: 720px ) {
            &:after {
                display: none;
            }
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        position: relative;
    }

    form {
        background: transparent;
        padding: 20px 15px;
        border: 1px solid white;
        color: white;
        width: 72.5%;
        margin: 0 auto;

        .header {
            color: white;
            border-bottom: 1px solid white;

			@media ( max-width: 1366px ) {
				font-size: 1.85rem;
			}
			@media ( max-width: 1000px ) {
				font-size: 1.8rem;
			}
			@media ( max-width: 868px ) {
				font-size: 1.75rem;
			}
			@media ( max-width: 720px ) {
				font-size: 2rem;
			}
        }

        legend {
            margin-bottom: 1rem;
            text-align: left;
        }

        .button {
            background-color: $yellow;
            color: $prolux;
            width: 100%;

            transition: all 200ms ease;

            &:hover {
                background-color: $gray;
                color: white;
            }
        }
    }

    .home-lines {
        position: absolute;
        width: 75px;
        left: calc(100% - 37.5px);
        top: 50%;
        transform: translateY(-50%);
    }

    .home-circle {
        position: absolute;
        right: 0;
        width: 150px;
        top: 25%;
    }

    @media ( max-width: 1280px ) {
        .home-circle {
            right: 0;
            opacity: 0.25;
            width: 25%;
        }
    }

	// #HOME-SLIDER
    @media ( max-width: 720px ) {
        flex-flow: column;

        &:after {
            display: none;
        }
        form {
            margin: 50px auto;
            width: 80%;
        }
        .left-side {
            //min-height: calc( 100vh - 131px );
            min-height: calc( 100vh - 176px );
        }
        .home-lines {
            display: none;
        }
        .home-circle {
            opacity: 0.2;
            width: 50%;
        }
    }

}

.relative {
    position: relative;

    .sides-lines {
        position: absolute;
        transform: rotate(90deg);
        width: 280px;
        z-index: -1;
    }
    .sides-squares {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 240px;
    }

    @media ( max-width: 720px ) {
        .sides-lines {
            left: 0%;
            height: 100vw;
        }
        .sides-squares {
            left: 0%;
            width: 90%;
        }
    }
}

#shrinked {
    width: 80%;
    margin: 0 auto;

    .gray {
        background-color: $gray;
        color: white;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        min-height: 120px;

        div {
            padding: 10px 15px;
            flex: 1;
            text-align: center;
        }
        .title {
            padding: 5px;
            flex: 2;
            text-align: center;

            h2 {
                font-size: 2rem;
            }
        }
    }
    .white {
        text-align: center;
        padding: 30px 0;
        background: white;

        h1 {
            color: $prolux;
            font-size: 3rem;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .icons {
            text-align: center;
            display: flex;

            .icon {
                display: inline-block;
                width: 25%;
                padding: 10px 15px;
                box-sizing: content-box;

                img {
                    width: 120px;
                    margin: 0 auto;
                }
                p {
                    padding: 5px;
                }
            }
        }
    }
    .green {
        text-align: center;
        padding: 30px 0;
        background-color: $green;

        h1 {
            color: $prolux;
            font-size: 3rem;
        }
        .icons {
            text-align: center;
            display: flex;

            .icon {
                display: inline-block;
                width: 25%;
                padding: 10px 15px;
                box-sizing: content-box;

                img {
                    width: 120px;
                    margin: 0 auto;
                }
                p {
                    padding: 5px;
                    color: white;
                }
            }
        }
    }

    @media ( max-width: 720px ) {

        width: 90%;

        .gray {
            flex-flow: column;
        }
        .white {

            .icons {
                flex-flow: column;

                .icon {
                    width: 85%;
                    margin: 20px 0;
                }
            }
        }
        .green {

            .icons {
                flex-flow: column;

                .icon {
                    width: 85%;
                    margin: 20px 0;
                }
            }
        }
    }

}

#thirds {
    display: flex;
    background-color: $prolux;

    .third {
        flex: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: calc( 100vw / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 350px;

        span {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(10, 77, 167, 0.75);
            z-index: 1;
        }

        .content {
            z-index: 2;
            text-align: center;

            h2 {
                color: white;
                text-transform: uppercase;
                margin-bottom: 35px;
            }

            a {
                background-color: $yellow;
                color: $prolux;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 10px 22.5px;
                transition: all 200ms ease;

                &:hover {
                    background-color: $prolux;
                    color: white;
                }
            }
        }
    }

    @media ( max-width: 680px ) {
        flex-flow: column;
    }
}

#blocks {

    .block {
        display: flex;
        min-height: calc( 100vh / 2 - 35px);
    }
    .image{
        flex: 1.25;
        background-size: cover;
        background-position: center;
    }
    .text {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;

        p {
            padding: 10px 15px 5px 15px;
            margin-top: 10px;
        }

        h3 {
            padding: 0px 10px 5px 15px;
            margin-bottom: 10px;
        }
    }


    .line {
        background: $prolux;
        width: 70%;
        height: 8px;
        display: block;
    }

    @media ( max-width: 720px ) {

        .block {
            flex-flow: column;
        }
        .image {
            height: 350px;
            flex: auto;
        }
    }
}

#works {
    display: flex;
    min-height: calc( 100vh - 166px );
    position: relative;

    .blue-lines {
        position: absolute;
        width: 75px;
        left: calc(50% - 37.5px);
        top: 50%;
        transform: translateY(-50%);
    }
    .blue-squares {
        position: absolute;
        top: 35px;
        height: 105px;
        left: -40px;
    }

    .left-side {
        flex: 1;
        color: white;
        display: flex;
        flex-flow: column;
        align-items: center;

        .title {
            background-color: $yellow;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 30px;
			width: 100%;
        }

        .text {
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            width: 80%;
            flex: 2;
            margin: 0 auto;
            color: black;

            b {
                color: $prolux;
            }
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.15rem;
			padding: 0 15px;
        }
    }
    .right-side {
        flex: 1;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            width: 80%;
            margin-left: 10%;
        }
    }

    @media ( max-width: 1135px ) {
        .blue-squares {
            height: 85px;
        }
    }
    @media ( max-width: 1000px ) {
        .blue-squares {
            height: 65px;
        }
    }
    @media ( max-width: 720px ) {
        flex-flow: column;

        .left-side {

            .title {
                padding: 25px 30px;
            }

            h2 {
                margin: 35px 0;
            }
        }

        .right-side {
            img {
                width: 100% !important;
                margin: 0 !important;
                padding: 10px;
            }
        }
        .text {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        .blue-lines {
            display: none;
        }
        .blue-squares {
            width: 60px;
            height: auto;
            top: 15px;
        }
    }

}

#future {
    // min-height: calc( 100vh - 166px );
    background-color: $gray;
    display: flex;

    .side-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 35px;

        .content {
            color: white;

            h2 {
                font-size: 2.15rem;
            }
        }
    }
    .side-right {
        flex: 1;

        img {
            float: left;

            &:nth-child(2){
                width: 50%;

                @media ( max-width: 720px ) {
                    width: 100%;
                }
            }
            &:nth-child(3){
                width: 50%;

                @media ( max-width: 720px ) {
                    width: 100%;
                }
            }
        }
    }

    @media ( max-width: 680px ) {
        flex-flow: column;
    }
}

#blue {
    background-color: $blue;
    text-align: center;
    padding: 40px 25px;
    position: relative;

    .side-circle {
        position: absolute;
        height: 130px;
        top: -85px;
        right: 0px;
    }

    .content {
        width: 80%;
        margin: 0 auto;
    }

    .left-side {
        display: block;
        vertical-align: middle;
        width: 100%;
        color: white;
		margin-bottom: 15px;

        h3 {
            text-transform: uppercase;
            padding: 10px 20px;
        }
    }
    .right-side {
        display: inline-block;
        vertical-align: middle;
        width: 49%;

        form {

            .button {
                background-color: $yellow;
                color: $prolux;
                width: 100%;
                transition: all 200ms ease;

                &:hover {
                    background-color: $gray;
                    color: white;
                }
            }
        }
    }

    @media ( max-width: 720px ) {
        .left-side {
            display: block;
            width: 100%;
        }
        .right-side {
            display: block;
            width: 100%;
        }
        .side-circle {
            height: 95px;
            top: -60px;
        }
    }

}

footer {
    background: $gray;
    color: white;
    padding: 40px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .sides-squares {
        position: absolute;
        right: 0;
        height: 35%;
        top: -15%;
    }

    .logo {
        img {
            width: 55px;
        }
    }
    i {
        font-size: 1.4rem;
        margin: 0 5px;
    }
    a {
        color: white;

        &:hover {
            color: $yellow
        }
    }

    @media ( max-width: 720px ) {

        flex-wrap: wrap;

        .sides-squares {
            width: 25%;
            left: 0;
            height: auto;
            /* bottom: 0; */
            top: -15px;
        }
        .logo {
            margin-bottom: 15px;
        }
        .address {
            width: 100%;
            text-align: center;
        }
        .social {
            margin-top: 15px;
            width: 100%;
            text-align: center;
        }
    }
}

#modalFotos {

    .owl-nav {
        text-align: center;
        font-size: 40px;
        display: flex;
        justify-content: space-between;
    }
}
